<div class="modal" id="exampleModal" data-bs-backdrop="static" tabindex="-1" aria-labelledby="exampleModalLabel"
  aria-hidden="true">
  <div class="modal-dialog">
    <div class="modal-content bg-dark text-white">
      <div class="modal-header">
        <h5 class="modal-title fs-5" id="exampleModalLabel">
          {{ taskToEdit ? 'Editar Tarefa' : 'Nova Tarefa' }}
        </h5>
      </div>
      <div class="modal-body">
        <div class="mb-3">
          <label for="title" class="form-label">Título</label>
          <input type="text" class="form-control" data-bs-theme="dark" id="title" [(ngModel)]="newTask.title" required>
        </div>
        <div class="mb-3">
          <label for="description" class="form-label">Descrição</label>
          <textarea class="form-control" data-bs-theme="dark" id="description" [(ngModel)]="newTask.description"
            required></textarea>
        </div>
      </div>
      <div class="modal-footer">
        <button type="button" class="btn btn-secondary" data-bs-dismiss="modal" #closeModalButton
          (click)="ngOnDestroy()">
          Fechar
        </button>

        <button 
          type="button"
          class="btn btn-primary"
          (click)="onSubmit()" 
          [disabled]="!isFormValid()"
          >
          {{ taskToEdit ? 'Atualizar' : 'Salvar' }}
        </button>
      </div>
    </div>
  </div>
</div>